<nav class="navbar navbar-default">
  <div class="container-fluid">
    <a class="navbar-brand" ng-href="#/">Print Palace</a> 
    <ul class="nav navbar-nav navbar-right">
      <li><a ng-hide="currentUser" ng-href="#/home">Головна</a></li>
      <li><a ng-hide="currentUser" ng-href="#/about">Види послуг</a></li>
      <li><a ng-hide="currentUser" ng-href="#/portfolio">Галерея</a></li>
      <li><a ng-hide="currentUser" ng-href="#/constructor">Конструктор</a></li>
      <li><a ng-hide="currentUser" ng-href="#/portfolio">Замовити</a></li>
      <li><a ng-hide="currentUser" ng-href="#/contacts">Контакти</a></li>
    </ul>
    </div>
</nav>